/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  header {
    font-size: 15px;
  }

  .profile-title {
    max-width: 250px;
  }

  .profile-title h1 {
    font-size: 40px;
  }

  .profile-wrapper h2{
    font-size: 15px;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 600px) {
  header {
    font-size: 15px;
    display: none;
  }

  .main {
    width: 100%;
  }

  .profile-title {
    max-width: 160px;
  }

  .profile-title h1 {
    font-size: 27px;
  }

  .profile-wrapper h2{
    font-size: 10px;
  }

  .work h1 {
    font-size: 20px;
  }

  .item.even {
    flex-direction: column-reverse;
  }

  .item.odd {
    flex-direction: column;
  }

  .item ul {
    font-size: 15px;
    width: 100%;
    margin: 20px auto 0;
  }
}