* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	background-color: #eee;
	font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
	margin: auto;
}

header {
	width: 20%;
	background-color: #5559A7;
	font-size: 40px;
	padding: 0 30px 0 0;
}

header ul {
	position: fixed;
	top: 0;
	left: 0;
	list-style: none;
	text-align: left;
}

header ul li {
	padding: 20px 0;
}

header ul li a {
	color: white;
	text-decoration: none;
}

.main {
	width: 80%;
}

.top-wrapper {
	display: flex;
	height: 100vh;
	background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url(../img/background.jpg);
	background-size: cover;
	background-position: right top;
}

.hero-img {
	width: 30%;
	margin: auto auto;
	filter: invert(35%) sepia(10%) saturate(3438%) hue-rotate(199deg) brightness(97%) contrast(85%);
}

.profile-wrapper {
	width: 50%;
	margin: auto auto;
	background-color: white;
	border-radius: 10px;
	padding-left: 10px;
}

.profile-title {
	display: flex;
	max-width: 400px;
	width: 100%;
	font-family: cursive;
}

.profile-title h1 {
	font-size: 75px;
	width: 80%;
	height: 100%;
	margin: auto 0;
}

.profile-title img {
	border-radius: 50%;
	width: 20%;
	height: 20%;
	margin: auto auto;
}

.profile-wrapper h2{
	font-size: 20px;
	font-weight: normal;
}

.work {
	padding-bottom: 50px;
}

.work h1 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 60px;
}

.work.even {
	background-color: #d9d9d9;
	border: 1px solid #d9d9d9;
}

.item {
	display: flex;
}

.item ul {
	font-size: 20px;
	width: 40%;
	margin: 0 auto;
	list-style: none;
}

.item li {
	padding: 10px 0;
}

.item img {
	width: 40%;
	height: 40%;
	margin: auto auto;
}

footer {
	background-color: rgba(40, 40, 40, 0.9);
}

footer ul {
	display: flex;
	list-style: none;
	text-align: center;
	padding: 50px 0;
	margin: 0;
}

footer ul li {
	width: 33%;
}

footer ul li img {
	width: 50px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(342deg) brightness(102%) contrast(102%);
}
